In [11]:
import pandas as pd
import numpy as np
import io
import re
import statsmodels.formula.api as smf

In [70]:
date_string = '''totwrk                       -0.169***         
                              (0.018)          
                                               
age                           2.689*           
                              (1.469)          
                                               
south                        101.568**         
                             (41.837)          
                                               
male                         87.669**          
                             (35.104)          
                                               
smsa                         -54.748*          
                             (33.123)          
                                               
yngkid                        -13.962          
                             (50.341)          
                                               
marr                          31.211           
                             (42.233)          
                                               
Constant                    3450.913***        
                             (80.726)   '''

In [79]:
np.reshape(date_string.strip().split(), (8,3))

array([['totwrk', '-0.169***', '(0.018)'],
       ['age', '2.689*', '(1.469)'],
       ['south', '101.568**', '(41.837)'],
       ['male', '87.669**', '(35.104)'],
       ['smsa', '-54.748*', '(33.123)'],
       ['yngkid', '-13.962', '(50.341)'],
       ['marr', '31.211', '(42.233)'],
       ['Constant', '3450.913***', '(80.726)']], dtype='<U11')

In [104]:
re.findall(r'([-+]?\d+\.\d+)', date_string)

['-0.169',
 '0.018',
 '2.689',
 '1.469',
 '101.568',
 '41.837',
 '87.669',
 '35.104',
 '-54.748',
 '33.123',
 '-13.962',
 '50.341',
 '31.211',
 '42.233',
 '3450.913',
 '80.726']

In [91]:
re.findall(r'[-+]?[.]?[\d]+[\.]?\d*', '''-54.748*''')

['-54.748']

In [72]:
re.findall(r'[-+]?[.]?[\d+]+[\.]?\d*(?:[eE][-+]?\d+)?', date_string)

['-0.169',
 '0.018',
 '2.689',
 '1.469',
 '101.568',
 '41.837',
 '87.669',
 '35.104',
 '-54.748',
 '33.123',
 '-13.962',
 '50.341',
 '31.211',
 '42.233',
 '3450.913',
 '80.726']

In [73]:
df = pd.read_csv(io.StringIO(date_string),header=None, sep='\s+')
df

           0            1
0     totwrk    -0.169***
1    (0.018)          NaN
2        age       2.689*
3    (1.469)          NaN
4      south    101.568**
5   (41.837)          NaN
6       male     87.669**
7   (35.104)          NaN
8       smsa     -54.748*
9   (33.123)          NaN
10    yngkid      -13.962
11  (50.341)          NaN
12      marr       31.211
13  (42.233)          NaN
14  Constant  3450.913***
15  (80.726)          NaN

In [74]:
np.reshape(date_string.strip().split(), (8,3))

array([['totwrk', '-0.169***', '(0.018)'],
       ['age', '2.689*', '(1.469)'],
       ['south', '101.568**', '(41.837)'],
       ['male', '87.669**', '(35.104)'],
       ['smsa', '-54.748*', '(33.123)'],
       ['yngkid', '-13.962', '(50.341)'],
       ['marr', '31.211', '(42.233)'],
       ['Constant', '3450.913***', '(80.726)']], dtype='<U11')

In [75]:
df = pd.DataFrame(np.reshape(date_string.strip().split(), (8,3)), columns = ['Column_A','Column_B','Column_C'])

In [76]:
df

   Column_A     Column_B  Column_C
0    totwrk    -0.169***   (0.018)
1       age       2.689*   (1.469)
2     south    101.568**  (41.837)
3      male     87.669**  (35.104)
4      smsa     -54.748*  (33.123)
5    yngkid      -13.962  (50.341)
6      marr       31.211  (42.233)
7  Constant  3450.913***  (80.726)

In [88]:
df

   Column_A     Column_B  Column_C
0    totwrk    -0.169***   (0.018)
1       age       2.689*   (1.469)
2     south    101.568**  (41.837)
3      male     87.669**  (35.104)
4      smsa     -54.748*  (33.123)
5    yngkid      -13.962  (50.341)
6      marr       31.211  (42.233)
7  Constant  3450.913***  (80.726)

In [97]:
df["1"] = pd.to_numeric(df["Column_C"].str.extract(r'[-+]?(?:\d*\.*\d+)'), errors="coerce").astype(float)
df

ValueError: pattern contains no capture groups

In [98]:
df['Extracted_Float']=df['Column_C'].str.extract(r"(\d+\.\d+)")

In [99]:
df

   Column_A     Column_B  Column_C Extracted_Float
0    totwrk    -0.169***   (0.018)           0.018
1       age       2.689*   (1.469)           1.469
2     south    101.568**  (41.837)          41.837
3      male     87.669**  (35.104)          35.104
4      smsa     -54.748*  (33.123)          33.123
5    yngkid      -13.962  (50.341)          50.341
6      marr       31.211  (42.233)          42.233
7  Constant  3450.913***  (80.726)          80.726

In [102]:
df['Extracted_Float']=df['Column_B'].str.extract(r"([-+]?\d+\.\d+)")

In [103]:
df

   Column_A     Column_B  Column_C Extracted_Float
0    totwrk    -0.169***   (0.018)          -0.169
1       age       2.689*   (1.469)           2.689
2     south    101.568**  (41.837)         101.568
3      male     87.669**  (35.104)          87.669
4      smsa     -54.748*  (33.123)         -54.748
5    yngkid      -13.962  (50.341)         -13.962
6      marr       31.211  (42.233)          31.211
7  Constant  3450.913***  (80.726)        3450.913

In [105]:
ddd = '''totwrk                -0.149***      -0.149***  
                       (0.026)        (0.017)   
                                                
age                     -6.259        -6.359    
                       (11.192)      (11.239)   
                                                
I(age2)                 0.107          0.112    
                       (0.134)        (0.134)   
                                                
male                  161.890**                 
                       (82.177)                 
                                                
south                 112.144***    108.387***  
                       (40.717)      (40.743)   
                                                
totwrk:male             -0.035                  
                       (0.036)                  
                                                
Constant             3587.178***    3625.984*** 
                      (220.238)      (219.314)  '''

In [107]:
np.reshape(ddd.strip().split(), (7,3))

ValueError: cannot reshape array of size 31 into shape (7,3)