# Прогнозирование
sleep equation

In [2]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

In [3]:
sleep_df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
mod1 = smf.ols(formula='sleep~totwrk+age+south+male+smsa+yngkid+marr', data=sleep_df).fit()
mod1.params.round(3)

Intercept    3450.913
totwrk         -0.169
age             2.689
south         101.568
male           87.669
smsa          -54.748
yngkid        -13.962
marr           31.211
dtype: float64

Прогноза: $3450.913-0.169*totwrk+2.689*age+101.568*south+\cdots$

In [4]:
# Создадим датафрейм со значениями предикторов
new_data = pd.DataFrame({'totwrk':[2150, 1950, 2240], 'age':[37, 28, 26], 'south':[0,1,0], 'male':[1,1,0],
                         'smsa':[1,0,1], 'yngkid':[0,1,0], 'marr':[1,0,0]})
new_data

   totwrk  age  south  male  smsa  yngkid  marr
0    2150   37      0     1     1       0     1
1    1950   28      1     1     0       1     0
2    2240   26      0     0     1       0     0

In [5]:
# Для прогноза используем метод .predict()
mod1.predict(exog=new_data, transform=True)

0    3250.675595
1    3371.464687
2    3086.984230
dtype: float64

Prodict function

In [6]:
labour_df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
mod2 = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)', data=labour_df).fit()
mod2.params.round(2)

Intercept         -1.71
np.log(capital)    0.21
np.log(labour)     0.71
dtype: float64

Прогноз выпуска: $\exp(-1.71+0.12\log(capital)+0.71\log(labour))$

In [7]:
# Создадим датафрйм для прогноза
new_data = pd.DataFrame({'capital':[2.970, 10.450, 3.850], 'labour': [85, 60, 105]})
new_data

   capital  labour
0     2.97      85
1    10.45      60
2     3.85     105

In [9]:
np.exp(mod2.predict(exog=new_data, transform=True))

0    5.421154
1    5.487400
2    6.654073
dtype: float64

Прогнозирование и адекватность модели

In [13]:
mod3 = smf.ols(formula='output~capital+labour', data=labour_df).fit()
mod3.fittedvalues.describe()

count     569.000000
mean       14.719225
std        61.807949
min        -0.081229
25%         2.768202
50%         5.306759
75%        11.106838
max      1280.868280
dtype: float64